<app-header></app-header>


<div>
    <h3 style="color: goldenrod;" class="text-center my-5">Please Add Delivery Details</h3>
    <form action="" class="w-50 container">
        <div class="form-floating my-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>

        
            <div class="form-floating my-3">
                <textarea class="form-control" placeholder="Address here" id="floatingTextarea "></textarea>
                <label for="floatingTextarea">Address</label>
            </div>
            
                <div class="form-floating my-3">
                    <input class="form-control" placeholder="Place  here" id="floatingTextarea">
                    <label for="floatingTextarea">Place</label>
                </div>
                
                
                    <div class="form-floating my-3">
                        <input class="form-control" placeholder="Pin code here" id="floatingTextarea">
                        <label for="floatingTextarea">Pin code</label>
                    </div>
                    
                <div class="d-flex justify-content-between my-5">
                <button class="btn btn-outline-danger w-25">Cancel</button>
                <button class="btn btn-outline-success w-25">Proceed to buy</button>

            </div>
    </form>
</div>

<!-- -------------------- -->


<div class="container w-50 p-4 my-5 rounded-4 shadow">
    <h5>Delivery Address</h5>
    <hr>
    <div class="ms-4">
        <p>email</p>
        <p>address</p>
        <p>place</p>
        <p>pin</p>
    </div>
    <h6 class="text-center">Final Price <span class="fs-3 text-success">1999</span></h6>
    <hr>
    <div class="d-flex justify-content-between my-5">
        <button class="btn btn-outline-danger w-25">Cancel Payment</button>
        <button class="btn btn-outline-success w-25">Proceed to pay</button>

    </div>

</div>