<app-header></app-header>

<div class="container text-center my-5">

    <img class="w-50"
     src="https://i.postimg.cc/tCjHsb9J/wish.jpg" alt="">
     <h4></h4>
     <button class="btn btn-dark mt-5">Add More Items</button>

</div>

<div class="container ">
    <div class="row">
        <div class="card mb-3 " style="max-width: 350px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://i.postimg.cc/pTXWVdgh/tp2.jpg" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8 text-center">
                <div class="card-body">
                  <h5 class="card-title">Tops</h5>
                  <h6>599</h6>
                  <div class="d-flex justify-content-between my-4">
                    <button class="btn btn-light border px-3">
                      <i class="fa-solid fa-cart-plus"></i>
                    </button>
                      <button  class="btn btn-light border px-3">
                        <i class="fa-solid fa-heart-circle-xmark" style="color: #c49227;"></i>
                      </button>
                   </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
