/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lilita+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mochiy+Pop+P+One&display=swap');
 *{
    margin: 0;
    padding: 0;
}
span{
    font-family:  "Merriweather", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p{
    font-family:  "Vollkorn", serif ;
    font-weight: 400;
    
    
}
h1,h2,h3,h4,h5,h6{
    font-family:   "Merriweather", sans-serif;
    font-optical-sizing: auto;
}
.c1{
    color:green;
}
.c2{
    color: red;
}

